<!--  END - We recommend to place the above code in head tag of your website html -->

<!-- START - We recommend to place the below code where you want the form in your website html  -->
<form id="sib-form" method="POST" action="https://1039eb2b.sibforms.com/serve/MUIEAPimFYMNP0WJkOGCUPpChAFi-OjDsh9-7JbHgJGOuaFKyKxFe5kcmezhjdZFZkm8-7Oof132csfvKIXLxSAI2XKc-45YqACr--sPaHpsNyqmmnD5hDnC2vsHAFybiFctJydces3C29474AfG7if1CP4QrNmdkUv05ajS984CiiwiBBSR-83MhgFvqPs82zA-IyCD1oy8E5t6">
  <div style="padding: 8px 0;">
    <div class="sib-input">
      <div class="form__entry entry_block">
        <div class="form__label-row ">

          <div class="entry__field">
            <input class="input" type="text" id="EMAIL" name="EMAIL" autocomplete="off" placeholder="Escribe aquí tu email" data-required="true" required style="padding: 8px;"/>
          </div>
        </div>

        <label class="entry__error entry__error--primary" style="font-size:16px; text-align:left; font-family:&quot;monospace&quot;; color:#661d1d; background-color:#ffeded; border-radius:3px; border-color:#ff4949;">
        </label>
      </div>
    </div>
  </div>
  <div style="padding: 8px 0;">
    <div class="sib-optin">
      <div class="form__entry entry_mcq">
        <div class="form__label-row ">
          <div class="entry__choice">
            <label>
              <input type="checkbox" class="input_replaced" value="1" id="OPT_IN" name="OPT_IN" />
              <span class="checkbox checkbox_tick_positive"></span><span style="font-size:14px; text-align:left; font-family:&quot;monospace&quot;; color:#3C4858; background-color:transparent;"><p>Acepto recibir un poema cada día y el tratamiento de mi email.</p></span> </label>
          </div>
        </div>
        <label class="entry__error entry__error--primary" style="font-size:16px; text-align:left; font-family:&quot;Helvetica&quot;; color:#661d1d; background-color:#ffeded; border-radius:3px; border-color:#ff4949;">
        </label>
      </div>
    </div>
  </div>
  <div style="padding: 8px 0;">
    <div style="text-align: left">
      <button class="sib-form-block__button sib-form-block__button-with-loader" style="font-size:16px; text-align:left; font-weight:700; font-family:&quot;monospace&quot;; color:#FFFFFF; background-color:#3E4857; border-radius:3px; border-width:0px;" form="sib-form" type="submit">
        <svg class="icon clickable__icon progress-indicator__icon sib-hide-loader-icon" viewBox="0 0 512 512">
          <path d="M460.116 373.846l-20.823-12.022c-5.541-3.199-7.54-10.159-4.663-15.874 30.137-59.886 28.343-131.652-5.386-189.946-33.641-58.394-94.896-95.833-161.827-99.676C261.028 55.961 256 50.751 256 44.352V20.309c0-6.904 5.808-12.337 12.703-11.982 83.556 4.306 160.163 50.864 202.11 123.677 42.063 72.696 44.079 162.316 6.031 236.832-3.14 6.148-10.75 8.461-16.728 5.01z" />
        </svg>
        Sí, quiero volver a querer
      </button>
    </div>
  </div>
  <input type="text" name="email_address_check" value="" class="input--hidden">
  <input type="hidden" name="locale" value="es">
  <input type="hidden" name="html_type" value="simple">
</form>

<!-- END - We recommend to place the below code where you want the form in your website html  -->
<!-- End Sendinblue Form -->
